body {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.bubbles-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    max-width: 1600px;
}

a.bubble {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 6px black;
}

.bubble {
    margin: 2%;
    display: flex;
    min-width: 300px;
    min-height: 300px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-size: auto 300px;
    background-position: center;

    font-size: 32px;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0px 0px 40px black;
}

.bubble:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.bubble:active {
    background-size: auto 330px;
}

.bubble:active:before {
    opacity: .1;
}

.bottom-right {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.mini-bubble {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pastel-blue);
}

a.mini-bubble {
    color: white;
    text-decoration: none;
}

.mini-bubble:hover {
    background-color: var(--light-pastel-blue);
}