
 body{
     background-color: #2D5C4C;
 }
 a {
    color: rgb(255, 255, 101);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(252, 252, 151);
  }

  .program{
      text-align: left;
      display: inline-block;
  }
  .table-program{
      width:40%;
      margin:auto;
  }
  #map{
    width:60%;
    height:450px;
    margin: 20px auto;
  }
  @media screen and (min-width: 100px) and (max-width: 600px) {
    #map{
      width:90%;
      height:300px;
      margin: 20px auto;
    }
    .table-program{
        width:90%;
        margin:auto;
    }
    #heading-program{
        margin:20px;
    }

  }

