body{
    background-color: #1B344C;
}
#pripravy{
    width:37%;
    /* background-image: linear-gradient(to right, #7552ac , #3e9e82); */
    margin:auto;
    border-radius: 16px;
}
#pripravy-img{
    width:inherit;
    /* padding:10px; */
    /*border-radius: 16px;*/
}

a {
    color: rgb(255, 255, 101);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(252, 252, 151);
  }
.y{
    color:#ffd953 ;
}
.p{
    color:#c6c5fc;
}
.large{
    font-size: large;
}
#didaktikon_logo{
   /* position:fixed;
    right:10px;
    top:60px;*/
    width:200px;
}

#map{
    width:60%;
    height:450px;
    margin: 20px auto;
  }

  @media screen and (min-width: 100px) and (max-width: 600px) {
    #map{
      width:90%;
      height:300px;
      margin: 20px auto;
    }
    .table-program{
        width:90%;
        margin:auto;
    }
    #heading-program{
        margin:20px;
    }

  }
