html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

p,
ul {
    font-size: 2vw;
}

ul {
    text-align: left;
}

.offset-bottom {
    margin-bottom: 3em;
}

.offset-bottom-big {
    margin-bottom: 5em;
}

#content {
    padding: 0 8%;
}

#content.centered {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-form-holder form {
    gap: 1.5em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.sections-holder {

}

.sections-holder .section {
    gap: 1em;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.sections-holder .section h1 {
    position: absolute;
}

.sections-holder .section p {
    width: 100%;
    margin: .5em 0;
}

.sections-holder .section ul li {
    margin: .5em 0;
}

.section h3 {
    width: 100%;
}

.horizontal-cells {
    display: flex;
}

.horizontal-cells.vertical {
    flex-direction: column;
}

.horizontal-cells .cell {
    width: 50%;
    margin: 20px;
}

.horizontal-cells.centered-content .cell {
    width: 100%;
}

.horizontal-cells .cell.left {
    text-align: right;
}

.horizontal-cells .cell.right {
    text-align: left;
}

.horizontal-cells.centered-content .cell.left,
.horizontal-cells.centered-content .cell.right {
    text-align: center;
}

.horizontal-cells .cell p {
    margin: 0;
}

.horizontal-cells .cell p.offset-bottom {
    margin-bottom: 1em;
}

#story-img {
    width: 50%;
}

#story-text {
    width: 65%;
}

.horizontal-cells.centered-content .cell #story-text {
    width: 100%;
}

#about-generation-img {
    width: 80%;
}

.icon-text-link {
    align-items: center;
    display: inline-flex;
    gap: 1em;
}

.icon-text-link h3 {
    margin: 0;
}

.nav-arrow.static {
    position: static;
    display: inline-flex;
    transform: none;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding: 2% 0;
    align-items: center;
}