html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

p {
    font-size: 2vw;
}

.offset-bottom {
    margin-bottom: 3em;
}

#content {
    padding: 0 8%;
}

#content.centered {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-form-holder form {
    gap: 1.5em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.section h3 {
    width: 100%;
}

.horizontal-cells {
    display: flex;
}

.horizontal-cells.vertical {
    flex-direction: column;
}

.horizontal-cells .cell {
    width: 50%;
    margin: 20px;
}

.horizontal-cells.centered-content .cell {
    width: 100%;
}

.horizontal-cells .cell.left {
    text-align: right;
}

.horizontal-cells .cell.right {
    text-align: left;
}

.horizontal-cells.centered-content .cell.left,
.horizontal-cells.centered-content .cell.right {
    text-align: center;
}

.horizontal-cells .cell p {
    margin: 0;
}

.horizontal-cells .cell p.offset-bottom {
    margin-bottom: 1em;
}

#story-img {
    width: 50%;
}

#story-text {
    width: 65%;
}

.horizontal-cells.centered-content .cell #story-text {
    width: 100%;
}