@import url('https://fonts.googleapis.com/css?family=Questrial|Open Sans');
*, *::before, *::after {
    /* box-sizing: border-box; */
    font-size: 2.5vw;
    font-family: 'Questrial'
}
  
body {
    color:white;
    background-color: rgb(32, 53, 81);
    padding: 0;
    margin: 0;
}
h1{
    font-size: 3vw;
 }
 div{
     text-align: center;
 }