@import url('https://fonts.googleapis.com/css?family=Questrial|Open Sans');
*, *::before, *::after {
  /* box-sizing: border-box; */
  font-family: 'Questrial'
}
body{margin:0px;}
.menu-header{
    background-color: #203551;
    text-align: right;
}
#menu-btn{
    background-color: #20355100;
    border:none;
    cursor: pointer;
    margin:10px;
}
circle:hover{
    fill:#536c8b;
}
#menu-items{
    flex-flow: column;
    height:100vh;
    background-color: #475b76;
    display: none;
    width: 100%;
}
.menu-item{
    text-align: center;
    background-color: #475b76;
    width:100%;
}/*
.odd{
    background-color:#687c98;
    width:99.1vw;
}*/
a{
    display: inline-block;
    color:white;
    text-decoration: none;
    font-size: 3vw;
    margin:10px;
}
.menu-item:hover{
    background-color:#687c98;
}
/*
.odd a:hover{
    border-bottom: solid #475b76 3px; 
}*/
.last{
    background-color: #475b76;
    height:100%;
}
@media screen and (min-width: 100px) and (max-width: 500px) {
a{font-size:4vh;}
.menu-header{
    position:fixed;
    top:0;
    right:0;
    width:100%;
}
}
