@font-face {
    font-family: 'Minion Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Regular'), url('../fonts/MinionPro-Regular.woff') format('woff');
}
    

@font-face {
    font-family: 'Minion Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Italic'), url('../fonts/MinionPro-It.woff') format('woff');
}
    

@font-face {
    font-family: 'Minion Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Medium'), url('../fonts/MinionPro-Medium.woff') format('woff');
}
    

@font-face {
    font-family: 'Minion Pro Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Medium Italic'), url('../fonts/MinionPro-MediumIt.woff') format('woff');
}
    

@font-face {
    font-family: 'Minion Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Semibold'), url('../fonts/MinionPro-Semibold.woff') format('woff');
}
    

@font-face {
    font-family: 'Minion Pro Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Semibold Italic'), url('../fonts/MinionPro-SemiboldIt.woff') format('woff');
}
    

@font-face {
    font-family: 'Minion Pro Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Bold Condensed'), url('../fonts/MinionPro-BoldCn.woff') format('woff');
}
    

@font-face {
    font-family: 'Minion Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Bold'), url('../fonts/MinionPro-Bold.woff') format('woff');
}
    

@font-face {
    font-family: 'Minion Pro Bold Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Bold Condensed Italic'), url('../fonts/MinionPro-BoldCnIt.woff') format('woff');
}
    

@font-face {
    font-family: 'Minion Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Bold Italic'), url('../fonts/MinionPro-BoldIt.woff') format('woff');
}
