@import url('https://fonts.googleapis.com/css?family=Questrial|Open Sans');
*, *::before, *::after {
  /* box-sizing: border-box; */
  font-family: 'Questrial'
}

body {
  color:white;
  background-color: rgb(32, 53, 81);
  padding: 0;
  margin: 0;
  /*overflow: scroll;*/
}
h1{

    margin: 10px;
    margin-left:50px;
    margin-bottom:20px;
    z-index: 100;
    font-size: 3vw;
}

#nadpis{
  padding: 20px;
    padding-top: 40px;
    margin: 0;
    font-size: 5vw;
  text-align:center;
}
#center {
 /* height: 100vh;*/
  width: 100%; /*původně 100*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-container {
 /* margin-top: 20px;*/
  width:80%;
  /* overflow-y:auto; */
  text-align: left;
  /* overflow: scroll; */
  margin-left:10%;
  
}
#text-container2 {
  /* margin-top: 20px;*/
   width:80%;
   /* overflow-y:auto; */
   text-align: left;
   /* overflow: scroll; */
   
 }

p {
  font-size: 2.5vw;
}

#next-button{
  position: fixed;
  left: 95%;
  top: 50%;
  transform: translate(-50%, -50%);

}
#rozcestnik {
  position: fixed;
  left: 95%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#prev-button {
  position: fixed;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#prev-button, #next-button, #rozcestnik {
  background-color: rgba(100, 148, 237, 0.402);
  padding: 10px;
  border-radius: 16px;
  transition: 0.2s;
}

#prev-button:hover, #next-button:hover, #rozcestnik:hover {
  background-color: rgba(100, 148, 237, 0.84);
}


.a {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
 
}

.a:hover {

}
.a img {
  width: 3vw;
  height: 3vw;

}

.our-img {
  width:40%;
  margin-left: 20px;
  margin-bottom: 20px;
margin-right:10%;

}
.question{
  text-align: center;

}

.controls {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 15px; 
  
}

.btn {
  font-family: 'Questrial';
  font-size: 4vw;

  font-weight: bold;
  
  color: white;
  border: none;
  transition: 0.3s;
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(68, 172, 169);

}
.btn:hover {

  background-color: rgb(81, 193, 189);

}

.hide {
  display: none;
}

.input {
  font-size: 4vw;
  outline: none;
  border:none;
  background-image:none;
  background-color: white;
  width: 200px;
  border-radius: 16px;
  padding: 10px 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  

}
.center{
  margin:3% 8%;
}

.hide {
  display: none;
}
.text-container 
  {
    margin:30px;
    display: grid;
    grid-template-columns: 80% 20%;
  }

  b {
    font-weight: 900;
  }
  
  .emotions{
    display: flex;
    flex-direction: column;
  }

  .emoji{
    margin:50px;
    margin-left:100px;
    width:50%;
    cursor:pointer;
  }
#div-happy{
  position: relative;
}

  #pointer{
    display: inline-block;
    font-size:1vw;
    position: absolute;
    right:-40px;
    bottom: 0px;
    animation: updown 0.7s alternate infinite;
  }

  @keyframes updown {
    from{
      transform: translate(0,0px);
    }
    to{
      transform: translate(0,-20px);
    }
  }
#analyzing{
  width:90%;
}

/*MODALS*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(250, 225, 135, 0.897); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 70%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  font-size: 2vw;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: rgb(32, 53, 81);
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#text1, #text2, #text3{
  opacity: 0;
  transform:scale(0.5)
}

#text1{
  animation: prijed 1s forwards;
}

#text2{
  animation: prijed 1s forwards;
  animation-delay: 3s;
}

#text3{
  animation: prijed 1s forwards;

  animation-delay: 10s;
}

@keyframes prijed{
  from{
    opacity: 0;
    transform:scale(0.5)
  }
  to{
    opacity: 1;
    transform:scale(1)
  }
}


@media screen and (min-width: 100px) and (max-width: 500px) {
  h1{
    margin: 20px;
    
    z-index: 100;
    font-size: 5vh;
}
.our-img{
  margin:auto;
  width:100%;
}

  #center 
  {
    display:block;
    height:auto;
  }

  p{
    font-size:5vw;
  }
  .a img {
    width: 3.5vh;
    height: 3.5vh;
  }
.question{
  margin-top:80px;
}
  #next-button {
    position: fixed;
    left: 21%;
    top: 5%;
    transform: translate(-50%, -50%);
  
  }
  #prev-button {
    position: fixed;
    left: 7%;
    top: 5%;
    transform: translate(-50%, -50%);
  }

}

