@import url('https://fonts.googleapis.com/css?family=Questrial|Open Sans');
*, *::before, *::after {
  /* box-sizing: border-box; */
  font-family: 'Questrial'
}

body {
  color:white;
  background-color: rgb(32, 53, 81);
  padding: 0;
  margin: 0;
  /*overflow: scroll;*/
}
h1{

    margin: 10px;
    margin-left:50px;
    margin-bottom:20px;
    z-index: 100;
    font-size: 3vw;
}
#center {
  height: 100vh;
  width: 99vw; /*původně 100*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-container {
 /* margin-top: 20px;*/
  width:80%;
  /* overflow-y:auto; */
  text-align: left;
  /* overflow: scroll; */
  
}

p {
  font-size: 2.5vw;
}

#next-button {
  position: fixed;
  left: 95%;
  top: 50%;
  transform: translate(-50%, -50%);

}
#prev-button {
  position: fixed;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#prev-button, #next-button {
  background-color: rgba(100, 148, 237, 0.402);
  padding: 10px;
  border-radius: 16px;
  transition: 0.2s;
}

#prev-button:hover, #next-button:hover {
  background-color: rgba(100, 148, 237, 0.84);
}


.a {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
 
}

.a:hover {

}
.a img {
  width: 3vw;
  height: 3vw;

}

.our-img {
  float: right;
  height: 70vh;
  margin-left: 20px;
  margin-bottom: 20px;


}
.question{
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 15px; 
  
}

.btn {
  font-family: 'Questrial';
  font-size: 4vw;

  font-weight: bold;
  
  color: white;
  border: none;
  transition: 0.3s;
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(68, 172, 169);

}
.btn:hover {

  background-color: rgb(81, 193, 189);

}

.hide {
  display: none;
}

.input {
  font-size: 4vw;
  outline: none;
  border:none;
  background-image:none;
  background-color: white;
  width: 200px;
  border-radius: 16px;
  padding: 10px 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  

}


.hide {
  display: none;
}


@media screen and (min-width: 100px) and (max-width: 500px) {
  #center 
  {
    display:block;
    height:auto;
  }
  #text-container 
  {
    margin:30px;
    margin-top:45px;
  }
  p{
    font-size:5vw;
  }
  .a img {
    width: 3.5vh;
    height: 3.5vh;
  }

  #next-button {
    position: fixed;
    left: 93%;
    top: 50%;
    transform: translate(-50%, -50%);
  
  }
  #prev-button {
    position: fixed;
    left: 7%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}

b {
  font-weight: 900;
}