@import url('https://fonts.googleapis.com/css?family=Questrial|Open Sans');
*, *::before, *::after {
    /* box-sizing: border-box; */
    font-size: 2.5vw;
    font-family: 'Questrial'
}
  
body {
    color:white;
    background-color: rgb(32, 53, 81);
    padding: 0;
    margin: 0;
}


/*ŠIPKY:*/
#next-button {
    position: fixed;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #prev-button {
    position: fixed;
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #prev-button, #next-button {
    background-color: rgba(100, 148, 237, 0.402);
    padding: 10px;
    border-radius: 16px;
    transition: 0.2s;
  }
  #prev-button:hover, #next-button:hover {
    background-color: rgba(100, 148, 237, 0.84);
  }
  .a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .a:hover {
  
  }
  .a img {
    width: 3vw;
    height: 3vw;
  }

  /*CONTENT*/
.content{
    margin:3% 8%;
}
h1{
    font-size: 3vw;
 }
 #video{
    width:90%;
    height:100vh;
}
.kroky-ai{
    padding:16px;
    border-radius: 16px;
margin-right:50px;
}
#prvni{
    background-color: rgb(120, 60, 154);
    margin-left:50px;
    margin-top:90px;
}
#druhy{
    background-color: rgb(77, 193, 170);
    margin-left:90px;
}
#treti{
    background-color: rgb(142, 212, 226);
    margin-left:130px;
}

/*KVIZ*/
.scenar{
  display: grid;
  grid-template-columns: 20% 80%;
  padding:5px;
}
.dva-vystupy{
  display: grid;
  grid-template-columns: auto auto;
}
.vystup{
  margin:20px;
}
.vystup:hover{
  border-radius:16px;
  background-color: rgba(54, 81, 131, 0.402);
}
h2{
  padding:5px;
}
.prvni-robot, .druhy-robot, .alquist, .damon{
  margin:5px;
  border-radius: 16px;
  padding: 5px;
  border: 3px solid;
  font-size:2vw;
}
.prvni-robot-, .druhy-robot-, .alquist-, .damon-{
  font-size:2vw;
}
.prvni-robot{
  border-color: #7baf50;
}
.druhy-robot{
  border-color: #f15353;
}
.alquist{
  border-color: #f17553;
}
.damon{
  border-color: #4493b8;
}
.prvni-robot-{
  color: #7baf50;
}
.druhy-robot-{
  color: #f15353;
}
.alquist-{
  color: #f17553;
}
.damon-{
  color: #4493b8;
}